body {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.resultsAndRecords{
    margin-left: 50px;
    font-family: 'Shadows Into Light Two', sans-serif;
    font-size: 30px;"
}


.col-padding {
  padding-top: 50px;
}
.summary {
  margin-top: 5px;
  height: 70px;
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}


#pagination {
  margin-top: 0px;
}

#pagination li {
  background-color: transparent;
}

#pagination a {
  color: #826762;
}

#pagination li.active > a {
  color: #FFFFFF;
}

#pagination li > a:hover {
  color: #826762;
}
#pagination > .active > a {
  background-color: #826762;
  border-color: #826762;
  color: #ffffff;
}
