{% extends 'base.html' %}
{% block content %}
    <div class="mainWrap navslide">
      <div class="ui equal width left aligned padded grid stackable">
                <!--Site Content-->
                  <div class="row">
                      <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui top attached tabular menu">
                          <a class="item active" data-tab="first">Car basic information</a>
                          <a class="item" data-tab="second">Video</a>
                          <a class="item" data-tab="third">Location</a>
                        </div>
                        <div class="ui bottom attached tab segment active" data-tab="first">
                          <div class="ui segment">
                                <table class="ui celled striped table">
                                  <thead>
                                  {% if data[0] %}
                                  <tr>

                                      <th style="width:25%">Car Plate</th>
                                      <th style="width:40%">Car Brand</th>
                                      <th style="width:25%">Car type</th>
                                      <th style="width:25%">register Date</th>
                                      <th style="width:25%">Binding email</th>


                                  </tr>
                                  </thead>
                                  <tbody>
                                          <tr>
                                          <td>{{ data[0].vehiclePlate }}</td>
                                          <td>{{ data[0].brand }}</td>
                                          <td class="text-success">{{data[0].type }}</td>
                                              <td class="text-failure">{{data[0].registerDate }}</td>
                                              <td class="text-success">{{data[0].email }}</td>

                                          </tr>
                                  </tbody>
                              </table>
                            </div>
                            <div class="ui segment">APIKEY = {{ data[0].apiKey }}</div>
                            <div class="ui segment"style="width: 800px; height: 500px">

                                 <div id="container" style="min-width:400px;height:400px"></div>

                                 <div id="main-line" class="ct-chart1 ct-golden-section"style="position:absolute;left:850px;top:10px"></div>

                            </div>
                        </div>{% endif %}
                          <div class="ui bottom attached tab segment" data-tab="second">
                              <div class="ui equal width left aligned padded grid stackable">
                              <div class="row">
                              <div class="sixteen wide tablet eight wide computer column">
                              <div class="ui segments">
                              <div class="ui segment">
                              <h3 class="ui header">
                              ACCIDENT VIDEO!
                              </h3>
                     <form action="{{ url_for('web.deletevideo')}}" method="get">
                     <div class="ui teal labeled icon button" >

                         <div class="ui dropdown fluid selection" tabindex="0" ><select name="videoname">
                             <option value="">Delete a video</option>
                             {% for i in video %}
                             <option value="{{ i.videoName }}">{{ i.videoName }}</option>
                             {% endfor %}
                         </select>
                             <i class="dropdown icon"></i>
                             <div class="default text" >Delete a video</div>
                             <div class="menu" tabindex="-1">
                                 {% for i in video %}
                                 <div class="item" >{{ i.videoName }}</div>
                                 {% endfor %}

                             </div>

                         </div>

                         <i class="minus icon">
                         </i>
                           <button class="ui blue button modalactionone" type="submit">DELETE  VIDEO OF THE VEHICLE YOU CHOOSE </button>
                         </div>
                    </form>
                              </div>
                                  {% if video[0] %}

                              <div class="column">
                                  <div class="ui segment">
                                       {% for i in video %}
                                  <div class="ui card">
                                  <div class="content">
                                  <div class="right floated meta">{{ i.uploadDate }}</div>
                                   {{ i.videoName }}
                                  </div>
                                   <video width=100%px height=100%px controls="controls" >

                                     <source src='/uploads/{{ i.carPlate}}/{{ i.videoName }}' type="video/mp4" />

                                    </video>

                                  <div class="extra content">
                                  <div class="ui large transparent left icon input">
                                  <i class="heart outline icon"></i>
                                  <input type="text" placeholder="Add tags...">
                                  </div>
                                  </div>
                                  </div>
                                      {% endfor %}
                                  </div>
                                  </div>

                                  {% else %}
                                   <div class="ui segment">
                                    <div class="ui warning message">
                                        <i class="close icon"></i>
                                        <div class="header">
                                        You don't have video uploaded
                                        </div>
                                        Please uploads using your car's APIkey, then try again
                                    </div>

                                </div>
                                   {% endif %}
                              </div>
                              </div>

                              </div>

                              </div>

                             </div>


                        <div class="ui bottom attached tab segment" data-tab="third">
                            <div class="row">
                       <div class="sixteen wide tablet eight wide computer column">
                           <div class="ui segments">
                               <div class="ui segment">
                                   <h5 class="ui header">
                                       Map Or StreetView
                                   </h5>
                               </div>
                               <div class="ui segment">
                                   <div id="MapOrStreetView" style="width:100%;height:380px;"></div>
                                   <!--<div class="ui embed" data-source="youtube" data-id="gtTfd6tISfw" data-placeholder="img/deadpool.jpeg"><i class="video play icon"></i><img class="placeholder" src="img/deadpool.jpeg"></div>-->
                               </div>
                               <!--<button class="ui inverted orange button">olive</button>-->
                               <!--<button class="ui inverted blue button">Blue</button>-->
                               <div class="ui animated fade button" id= "StreetView"
                                    style="background-color: #55ACEE;
                                           margin-top: 2%; margin-left: 20%;width: 20%"
                                           onclick="initStreet(51.5083789,-0.1676866)">
                                   <div class="visible content">StreetView</div>
                                   <div class="hidden content">
                                       Go!
                                   </div>
                               </div>

                               <div class="ui animated fade button" id= "OriginMap"
                                    style="background-color: #FFB70A;
                                    margin-top: 2%; margin-left: 20%;width: 20%"
                                    onclick="initMap(51.5083789,-0.1676866)">
                                   <div class="visible content">Origin Map</div>
                                   <div class="hidden content">
                                       GO!
                                   </div>
                               </div>
                           </div>
                       </div>
                      </div>
                    </div>
                  </div>

              </div>
     </div>
    </div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3ulTQCxzq5RTXxvXlID2FRg3Qgvpzlbo">
</script>
<script src="static/semantic/dist/semantic.min.js"></script>
<script src="static/plugins/jsgrid/db.js"></script>
<script src="static/js/highcharts.js"></script>
<script src="static/js/real_time.js"></script>
<script src="static/js/exporting.js"></script>
<script src="static/plugins/echarts/echarts.min.js"></script>
<script src="static/js/map.js"></script>
<script data-pace-options='{ "ajax": false }' src="static/plugins/pacejs/pace.js"></script>

 <script src="static/plugins/cookie/js.cookie.js"></script>

 <script src="static/plugins/nicescrool/jquery.nicescroll.min.js"></script>
 <script src="static/js/custom-chart3.js"></script>
 <script src="static/plugins/datatable/jquery.dataTables.js"></script>
<script src="static/plugins/editable/mindmup-editabletable.js"></script>
<script src="static/plugins/datatable/dataTables.semanticui.js"></script>

 <script src="static/js/main.js"></script>


{% endblock %}










































